:root {
	--color-a-1: rgb(10, 10, 10);
	--color-a-2: rgb(25, 25, 25);
	--color-a-3: rgb(40, 40, 40);

	color-scheme: dark;
}

html {
	width: 100%;
	height: 100%
}

body {
	min-width: 300px;
	/* box-sizing: border-box; */

	width: 100%;
	height: 100%;

	margin: 0px;

	font-family: "Roboto", Helvetica, Arial, sans-serif;

	background-color: rgb(30, 30, 30);

	/* overflow-y: overlay; */
	overflow-y: scroll;
}

.hide {
	display: none !important;
}

.wrapper {
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-panel {
	padding: 1em;
	margin-bottom: 1em;

	user-select: none;

	transition: max-height 0.15s ease-out;
}

.box-panel > .h {
	/* font-weight: bold; */
	font-size: larger;
	margin-bottom: 0.5em;
}

.content {
	flex: 1 0 auto;
	box-sizing: border-box;

	width: 100%;
	max-width: 40em;
	
	padding: 1em;
	
	color: white;
}

.panel {
	background-color: black;
	border-radius: 0.5em;
}


/* -------------------------------------------------------------------------- */
/* HEADER                                                                     */
/* -------------------------------------------------------------------------- */

.header {
	/* font-size: 0.8em; */
	/* box-sizing: border-box; */
	width: 100%;

	background-color: black;
	color: white;

	flex: 0 0 auto;

	display: flex;
	flex-direction: column;
    align-items: center;

	z-index: 10;
}

.header > div {
	width: 100%;
	max-width: 40em;

	display: flex;
	align-items: center;
    align-content: center;
    justify-content: flex-start;

	user-select: none;
}

.header .header-text {
	box-sizing: border-box;
	width: 100%;

	display: flex;
	flex-direction: column;

	margin-bottom: 1em;
}

.header .header-text > span {
	font-weight: bolder;
	font-size: 1.5em;

	margin-top: 0.6em;
	margin-bottom: 0.1em;
}

.header > div > img {
	width: 3em;

	padding-left: 1em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	padding-top: 0.15em;
}

.header > #status-icons {
	margin-right: 1.4em;

	display: flex;
	flex-direction: row;
}

.header > #status-icons > img {
	width: 1.2em;
	filter: invert(100%);

	margin-left: 0.5em;
}

.header > #status-icons > .off {
	opacity: 0.4;
}

/* -------------------------------------------------------------------------- */
/* PAGE SELECT MENU                                                           */
/* -------------------------------------------------------------------------- */

.menu {
	box-sizing: border-box;

	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 10;

	height: 5em;
	background-color: black;
	color: white;

	/* padding-top: 0.5em;
	padding-bottom: 0.5em; */
	
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	user-select: none;

	box-shadow: 0px 20px 50px 25px var(--color-a-2);
}

.menu > span {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	/* padding: 0.5em 0.25em 0.5em 0.25em; */
	padding: 0.25em;

	width: 100%;
	max-width: 40em;

	height: 100%;

	/* Remove highlight on tap on mobile devices */
	-webkit-tap-highlight-color: transparent;
}

.menu > span > div {
	box-sizing: border-box;

	width: 100%;
	max-width: 15em;

	margin: 0.25em;
	padding: 0.25em;
	/* margin-left: 0.25em; */
	/* margin-right: 0.25em; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 0.5em;

	background-color: var(--color-a-1);

	transition: background-color 0.2s ease-in-out;

	cursor: pointer;
}

.menu > span > div:hover {
	background-color: var(--color-a-3);
}

.menu > span > div > img {
    width: 1.6em;
    height: 1.6em;

	margin-bottom: 0.3em;

	filter: invert(100%);

	transition: width 0.15s ease-out;
	transition: height 0.15s ease-out;
}

.menu .selected {
	background-color: var(--color-a-2);
}

.menu .selected > img {
	width: 2em;
    height: 2em;

	transition: width 0.15s ease-in;
	transition: height 0.15s ease-in;
}

/* -------------------------------------------------------------------------- */
/* VALUES MODE TABS                                                           */
/* -------------------------------------------------------------------------- */

.tabs {
	margin-bottom: 0.5em;

	display: flex;
	flex-direction: row;

	padding: 0.4em;

	user-select: none;
}

.tabs > span {
	padding: 0.4em;
	border-radius: 0.5em;

	width: 50%;
	text-align: center;

	background-color: var(--color-a-1);

	transition: background-color 0.2s ease-in-out;

	cursor: pointer;

	/* Remove highlight on tap on mobile devices */
	-webkit-tap-highlight-color: transparent;
}

.tabs > span + span {
	margin-left: 0.4em;
}

.tabs > span:hover {
	background-color: var(--color-a-3);
}

.tabs > .selected {
	background-color: var(--color-a-2);
}

/* -------------------------------------------------------------------------- */
/* VALUES TABLE                                                               */
/* -------------------------------------------------------------------------- */

.sensor {
	/* padding: 0.5em; */
	padding: 0.5em 0.25em 0.25em;

	margin-bottom: 0.5em;

	text-align: center;

	user-select: none;
}

.sensor > div:first-child {
	font-size: 1.2em;
}

.sensor > small {
	color: gray;
}

.values {
	/* margin-top: 0.5em; */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	/* margin: 0.5em; */
}

.values > div {
	background-color: var(--color-a-2);

	padding: 0.5em;
	margin: 0.25em;

	border-radius: 0.5em;

	flex: 1 1 4em;
}

/* .values > div + div {
	margin-left: 0.5em;
} */

.values > div > div {
	margin-top: 0.2em;
	font-size: 1.2em;
	font-weight: bold;
}

.level-0 {
	background-color: #386270 !important; 
}

.level-1 {
	background-color: #286444 !important; 
}

.level-2 {
	background-color: #7e6626 !important; 
}

.level-3 {
	background-color: #7c2f2f !important; 
}

.level-4 {
	background-color: #632e2e !important; 
}

.level-5 {
	background-color: #4a2e5f !important; 
}

/* -------------------------------------------------------------------------- */
/* WEATHER PANEL                                                              */
/* -------------------------------------------------------------------------- */

#city {
	/* padding: 1em; */
	margin-bottom: 1em;

	display: flex;
	align-items: center;

	user-select: none;
}

#city > .weather {
	flex-grow: 2;

	margin: 1em;
	display: flex;
	flex-direction: row;
}

#city > .weather > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#city > .weather > div > span > span {
	font-weight: bold;
}

#city > img {
	width: 3em;
	height: 2.5em;
	filter: invert(100%);
	/* margin-right: 1em; */
	margin-left: 1em;
}

#city > #city_aqi {
	margin: 0.5em;
	border-radius: 0.5em;

	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--color-a-2);

	padding: 0.5em;
}

#city > #city_aqi > span {
	font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/* STATION INFO PAGE                                                          */
/* -------------------------------------------------------------------------- */

.station {
	box-sizing: border-box;

	width: 100%;
	padding: 0.5em;

	display: flex;
	flex-direction: row;

	margin-bottom: 1em;
}

.station > div {
	display: flex;
	flex-direction: column;
	justify-content: center;

	user-select: none;

	/* margin-left: 0.5em; */
}

.station > div > span {
	font-size: xx-large;
	font-weight: 300;
	margin-bottom: 0em;
}

.station > img {
	filter: invert(100%);
	width: 4em;
    height: 4em;

	margin: 1em;
	/* margin-left: 1.5em; */
}

.sensors-panel {
	padding-bottom: 0.75em;
}

#sensors_list {
	margin-top: 0em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#sensors_list > span {
	border-radius: 0.5em;
	background-color: var(--color-a-3); 
	padding: 0.25em;
	padding-bottom: 0.15em;
	/* line-height: 1.8em; */
	margin-right: 0.2em;
	margin-bottom: 0.25em;
}

#station_info > div {
	margin-bottom: 0.4em;

	display: flex;
	flex-direction: row;
}

#station_info code {
	padding: 0.2em;
	border-radius: 0.5em;

	margin-left: 0.5em;
	
	background-color: var(--color-a-2);
	transition: background-color 0.2s ease-in-out;

	cursor: pointer;
}

#station_info code:hover {
	background-color: var(--color-a-3);
}

/* -------------------------------------------------------------------------- */
/* SETTINGS PAGE                                                              */
/* -------------------------------------------------------------------------- */

#settings_content > div {
	background-color: black;
	border-radius: 0.5em;
	padding: 0.5em;
}

/* Full width table */
.fw-table {
	border-collapse: collapse;
	width: 100%;
	border: 0px solid white;
	padding: 0px;
}

.fw-table > td > input {
	margin-bottom: 0.15em;
}

.checkbox {
	display: flex;
	flex-direction: row;

	margin-bottom: 0.2em;
}

input[type="checkbox"] {
	appearance: none;
	background-color: var(--color-a-3);
	
	margin: 0;
	
	font: inherit;
	
	width: 1.15em;
	height: 1.15em;

	border: none;
	border-radius: 0.2em;
	transform: translateY(-0.06em);

	margin-right: 0.3em;

	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: " ";
	display: inline-block;
    box-sizing: border-box;
	width: 0.65em;
	height: 0.65em;
	transform: scale(0.8);
	opacity: 0%;
	transition: 100ms transform ease-in-out;
	transition: 100ms opacity ease-in-out;
	border-radius: 0.2em;

	background-color: white;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
	opacity: 100%;
}

.text-box {
	box-sizing: border-box;

	color: white; 
	background-color: var(--color-a-2);

	width: 100%;
	padding: 0.5em;
	margin: 0.25em 0em 0.25em;

	border: none;
	border-radius: 0.3em;

	font-family: inherit;

	transition: all 0.2s ease-in-out;
}

.text-box:focus {
	outline: none;
	background-color: var(--color-a-3);
}

.text-box:disabled {
	color: dimgray;
	background-color: var(--color-a-2);
}

.text-box:disabled::placeholder {
	color: rgb(80, 80, 80);
}

.save-panel {
	padding: 0.5em 1em 0.5em;
}

.save-panel > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}

.save-panel > div > span {
	font-size: larger;
}

button {
	background-color: var(--color-a-2);
	font-size: medium;
	padding: 0.5em;
	border-radius: 0.3em;
	color: white;
	border: none;

	padding: 0.5em 2em 0.5em;

	transition: all 0.2s ease-in-out;
}

button:hover {
	/* border: 1px solid white; */
	
	background-color: var(--color-a-3);
}

button:active {
	color: black;
	background-color: white;
}

button:focus {
	outline: none;
}

select {
	padding-left: 0.2em !important;
}

/* -------------------------------------------------------------------------- */
/* LOGIN PAGE                                                                 */
/* -------------------------------------------------------------------------- */

#login {
	box-sizing: border-box;

	position: fixed;
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(20, 20, 20);
	color: white;

	z-index: 50;

	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box {
	margin: 1em;

	box-sizing: border-box;

	max-width: 25em;
	width: 100%;
}

.login-box > h3 {
	font-size: larger;
	margin: 0.5em 0em 0.5em;
}

.login-box > div {
	color: gray;
	margin-bottom: 0.25em;
	font-size: smaller;
}

.text-box-big {
	box-sizing: border-box;

	color: white; 
	background-color: var(--color-a-2);

	width: 100%;
	padding: 0.5em;

	margin: 0.25em 0em 0.25em;

	border: none;
	border-radius: 0.5em;

	font-family: inherit;

	transition: all 0.2s ease-in-out;
}

.text-box-big:focus {
	border: none;
	background-color: var(--color-a-3);
	outline: none;
}

.login-button {
	border: none;
	margin-top: 0.25em;
	font-size: smaller;

	background-color: var(--color-a-2);
}