body {
	width: 100%;
	height: 100%;

	min-width: 300px;
	margin: 0px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;

	background-color: black;

	color: white;
}

.content {
	max-width: 30em;
	/* background-color: aqua; */
	margin-left: auto;
	margin-right: auto;

	width: 100%;
	box-sizing: border-box;

	padding-left: 1em;
	padding-right: 1em;
}

.block {
	border: 1px solid white;
	border-radius: 0.5em;

	padding: 0.5em;
	margin-bottom: 1em;

	background-color: #202020;
}

.block > h3 {
	margin-bottom: 0.5em;
	margin-top: 0.2em;
}

.table {
	width: 100%;
	border-collapse: collapse;

	user-select: none;
}

.table > tbody > tr > td > input {
	box-sizing: border-box;
	width: 100%;
}

.table > tbody > tr > td > select {
	box-sizing: border-box;
	width: 100%;
}

.table-f > tbody > tr > td > span {
	font-family: monospace;
}

.table-ports {
	width: 100%;
	box-sizing: border-box;
}

.table-ports > tbody > tr > td > input {
	box-sizing: border-box;
	width: 4em;
}

.settings-text {
	box-sizing: border-box;
	font-family: monospace;
	width: 100%; 
	height: 30em; 
	resize: vertical;
	overflow-y: scroll;

	background-color: #202020;
	color: white;
	border: 1px solid #303030;

	tab-size: 4;
}

.value-valid {
	background-color: #3a6d3e;
}

.value-invalid {
	background-color: #6d3a3a;
}

.mono {
	font-family: monospace;
}

.hide {
	display: none;
}

hr {
	margin-top: 1em; 
	margin-bottom: 1em;
}

.table-values > tbody > tr > td {
	padding: 0.5em 0;
	font-family: monospace;
	cursor: pointer;
	padding-right: 0.6em;
}

.table-values > tbody > tr > th {
	padding: 0.2em 0;
	text-align: unset;
	font-weight: bold;
}

.table-values > tbody > tr:hover:not(:first-child) {
	background-color: #303030;
}

.updated {
    animation: target-fade 3s 1;
}

@keyframes target-fade {
    0% { color: rgba(48, 209, 238); }
    100% { color: white; }
}